<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061421022223-glu3grh3au2jstqs6ctigqhf92q4fpr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061421022223-glu3grh3au2jstqs6ctigqhf92q4fpr8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1061421022223-9gm6knr8ff4328es4lm9udpej4nlu0gf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhOjMBk3CL_P5o4ATNLba6NuvKuO_zfIE</string>
	<key>GCM_SENDER_ID</key>
	<string>1061421022223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bio</string>
	<key>PROJECT_ID</key>
	<string>ai-bioapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-bioapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061421022223:ios:b1f6fb7a7cda97e547377a</string>
</dict>
</plist>